{% load static %}
{% load base64_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Check4Mate</title>
<!--  <meta name="csrf-token" content="{% csrf_token %}">-->


  <!-- main css -->
  <link rel="stylesheet" href="{% static 'chessapp/style.css' %}">
</head>

<body>

    {% block content %}
    <img src="data:image/png;base64,{{ image.read|b64encode }}" alt="Image" class="displayed_image">

    <p>Best Move(s): {{ best_moves }} </p> <br>
    <p>FEN: {{ fen }} </p>

    {% endblock %}



</body>

</html>