{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Check4Mate</title>


  <!-- main css -->
  <link rel="stylesheet" href="{% static 'chessapp/style.css' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'chessapp/images/logo.png' %}" />
</head>

<body>
    <div id="video-container">
        <video id="video" autoplay></video>
    </div>

    <a class="cambutton"><img src="{% static 'chessapp/images/Camera.png' %}" width="100px"></a>

    <div class="navbar" id="navbar">
        <a href=""><img src="{% static 'chessapp/images/Camera.png' %}" width="100px"></a>
        <a href=""><img src="{% static 'chessapp/images/House.png' %}" width="100px"></a>
        <a href=""><img src="{% static 'chessapp/images/Share.png' %}" width="100px"></a>
    </div>

    <script type="text/javascript" src="{% static 'chessapp/video_camera.js' %}"></script>
</body>

</html>