{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Check4Mate</title>
  <meta name="csrf-token" content="{% csrf_token %}">


  <!-- main css -->
  <link rel="stylesheet" href="{% static 'chessapp/style.css' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'chessapp/images/logo.png' %}" />
</head>

<body>
    <div id="video-container">
        <video id="video" autoPlay playsInline muted></video>
        <div id="mask">
            <p>Place Chessboard in Square</p>
        </div>
    </div>
    <canvas id="canvas" style="display: none;"> </canvas>

    <button class="cambutton" id="captureButton"><img src="{% static 'chessapp/images/Camera.png' %}" width="150px"></button>

    <div class="navbar" id="navbar">
        <a href="" class="navbutton" style="transform: translate(-300px, -115px);"><img src="{% static 'chessapp/images/Camera.png' %}" width="100px"></a>
        <a href="/profile" class="navbutton" style="transform: translate(-50px, -120px);"><img src="{% static 'chessapp/images/House.png' %}" width="100px"></a>
        <a href="" class="navbutton" style="transform: translate(200px, -120px);"><img src="{% static 'chessapp/images/Share.png' %}" width="100px"></a>
    </div>



    <script type="text/javascript" src="{% static 'chessapp/video_camera.js' %}"></script>
</body>

</html>