{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

      <!-- main css -->
  <link rel="stylesheet" href="{% static 'chessapp/style.css' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'chessapp/images/logo.png' %}" />
</head>
<body>
{% block content %}
<h1>Welcome Back, {{ username }}</h1>
{% endblock %}

<a href="/logout" class="regbutton">Logout Now</a>


    <div class="navbar" id="navbar">
        <a href="/" class="navbutton" style="transform: translate(-185px, -80px);"><img src="{% static 'chessapp/images/Camera.png' %}" width="70px"></a>
        <a href="/profile" class="navbutton" style="transform: translate(-35px, -80px);"><img src="{% static 'chessapp/images/House.png' %}" width="70px"></a>
        <a href="" class="navbutton" style="transform: translate(105px, -80px);"><img src="{% static 'chessapp/images/Share.png' %}" width="70px"></a>
    </div>

</body>
</html>